:root {
    --heading-color: #578290;
    --color-light: #f7cdcf;
    --margin-main: 20px;
}

* {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

body {
    /* background-color: #f8edeb; */
    margin: 0;
    padding: 0;
}

/* Header Styles */

header {
    background-color: var(--heading-color);
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    margin-bottom: var(--margin-main);
}

li {
    display: inline;
    font-size: 20px;
    padding: 20px;
}

li a {
    color: var(--color-light);
}

/* Main content styles */

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    font-size: 45px;
    margin: var(--margin-main);
}

p {
    margin: var(--margin-main);
}

.graphic {
    margin: var(--margin-main);
}

img {
    filter:invert(1);
}

/* div {
    padding: 10px;
    background-color: #665568;
} */

figcaption {
    margin-top: 5px;
}

form {
    margin: 75px;
}

h2 {
    margin: var(--margin-main);
    font-size: 20px;
}

a {
    color: var(--heading-color);
    text-decoration: none;
    transition: 1s;
}

a:hover {
    border-bottom: 1px solid var(--heading-color);
}

footer {
    background-color: var(--heading-color);
    display: flex;
    justify-content: center;
}

footer p {
    padding: 17px;
    color: var(--color-light);
    font-size: 18px;
}