:root {
    --heading-color: #578290;
    --color-light: #f7cdcf;
    --margin-main: 20px;
}

* {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

body {
    /* background-color: #f8edeb; */
    margin: 0;
    padding: 0;
}

/* Header Styles */

header {
    background-color: var(--heading-color);
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    margin-bottom: var(--margin-main);
}

li {
    display: inline;
    color: var(--color-light);
    font-size: 20px;
    padding: 20px;
}

/* Main content styles */

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    font-size: 45px;
    margin: var(--margin-main);
}

p {
    margin: var(--margin-main);
}

.graphic {
    margin: var(--margin-main);
}

form {
    margin: 75px;
}